@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

* {
  font-family: "Roboto", sans-serif;
}

/* Add this to your styles.css or a global stylesheet */
input:focus {
  outline: none; /* Removes the default outline */
  border: none; /* Removes the border on focus */
}

input {
  padding: 4px;
}

/* Override modal content background */
.custom-modal .ant-modal-content {
  background-color: rgb(255, 239, 217);
  border-radius: 8px; /* Optional: Add border radius to modal content */
}

.ant-select-selector {
  border: none !important;
}

/* Targeting the popover content */
.ant-popover .ant-popover-inner {
  background: #ffefd9;
}

.ant-upload.ant-upload-select {
  border: none !important;
}

.ant-modal-content {
  background: #ffefd9;
  border: 1px solid #febc60;
  width: 660px;
}

.ant-modal .ant-modal-content {
  position: relative;
  background-color: #ffefd9;
}
